{% extends 'base.html'%}
{% block container %}

    <div class="jumbotron page-header">
        <h1>Barbería y Estética NAPOLES</h1>
        <p>"En la Barbería y Estética NAPOLES, nos dedicamos a ofrecerte un servicio de calidad y atención personalizada para satisfacer todas tus necesidades de cuidado capilar y estético. Nuestro equipo de expertos barberos y estilistas están comprometidos en brindarte un corte de cabello impecable, un afeitado perfecto y tratamientos faciales rejuvenecedores. Con una atención detallada y un ambiente acogedor, te invitamos a experimentar la excelencia en el cuidado personal. En NAPOLES, no solo transformamos tu apariencia, sino que también te ayudamos a potenciar tu confianza y estilo único. 
            ¡Ven y descubre el arte de la barbería y estética con nosotros!"</p>
        <p><a class="btn btn-primary">Saber más</a></p>
    </div>

{% endblock %}
